* {
    margin: 0;
    padding: 0;

}

a{
   text-decoration: none;
}

td{
   height: 100px;
 }

 img{
   height: 100%;
 
 }

.btn_menu{
   display:block;
   margin: 1rem 2rem 1rem 2rem;
}

.btn_menu a{
   text-decoration: none;
   color: black;
}

.titulo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
    gap: 2rem;
    color: red;
}
.carr {
   gap: 2rem;
}
.carr a{
   text-decoration: none;
   font-size: 1.5em;
   color:black
}
.carrit{
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   box-shadow: 
              inset 0 -3em 3em rgba(0,0,0,0.1),
              0.3em 0.3em 1em rgba(0,0,0,0.3);;
   border-radius: 10%;


}

.carrit h2 {
   color: red;
}
.categorias{
   display: flex;
   flex-flow: row;
   justify-content: space-around;
   align-items: center;
   margin-top: 1rem;
   margin-bottom: 3rem;
}

.productos .contenedores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin: 1rem 2rem 1rem 2rem;
   }
.productos .contenedores .producto {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   background-color: rgb(233, 228, 228);
   border-radius: 15%;
   height: 25rem;
   box-shadow:
   inset 0 -3em 3em rgba(0,0,0,0.1),
   0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.producto .producto-imagen {
   max-width: 100%;
   border-radius: 1rem;
}

.producto .producto-detalles {
   padding: .5rem;
   border-radius: 1rem;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: .25rem;
}

.producto .producto-titulo {
   font-size: 1rem;
}

.producto .producto-agregar {
   border: 0;
   background-color: blue;
   color: white;
   padding: .4rem;
   text-transform: uppercase;
   border-radius: 2rem;
   cursor: pointer;


}

.producto .producto-agregar:hover {
   background-color: violet;
   color: white;
}

 .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
 }

 .container .table {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }

 .container .table td {
    margin-right: 10rem;
 }

 .boton-con {
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   margin-bottom: 2rem;
   margin-top: 8rem;
 }

 

.tit-carrito{
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}


.table{
   display: flex;
   justify-content: center;
   align-items: center;

}

@media screen and (max-width: 767px) {
   .productos .contenedores {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem 1rem 2rem 1rem;
      place-items: center;
      gap: 2rem;
  }

  .categorias{
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: center;
   gap:.5rem;
   margin-top: 1rem;
   margin-bottom: 3rem;
}
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
   .productos .contenedores {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem 1rem 2rem 1rem;
      place-items: center;
      gap: 2rem;
  }
}